<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>هنرستان علی نورانی پور</title>
        <link rel="stylesheet" href="{% static 'main/bootstrap-css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'main/bootstrap-css/bootstrap.rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/stylefiles/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/stylefiles/Cantainer.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js">
    </head>

    <body>
    {% block body %}

    {% endblock body %}
    </body>
    <script src="{% static 'main/js-bootstrap/bootstrap.bundle.js' %}"></script>
</html>