<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylefiles/style.css">
    <link rel="stylesheet" href="./bootstrap-css/bootstrap.css">
    <link rel="stylesheet" href="./bootstrap-css/bootstrap.rtl.min.css">
</head> -->
<!-- <body> -->
{% block body %}
    <div class="container-login-box w-100 d-flex align-items-center justify-content-center ">
        <div class="parent-login">
            <div class="signUp-logIn">
                
            </div>
        </div>
    </div>
{% endblock body %}
<!-- </body>
</html> -->